.create-category-container {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-category-container h2 {
  text-align: center;
  margin-bottom: 20px;
}



.create-category-container button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-category-container .message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.create-category-container .message.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.create-category-container .message.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}