.categories-list-container {
  padding: 20px;
  background-color: var(--background-color);
  font-family: sans-serif;
  color: var(--text-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
}


.actions-column {
  width: 90px;
}

.actions-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}



.error-message {
  color: var(--error-color);
  margin-bottom: 20px;
}

.items-per-page-selector {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.items-per-page-selector label {
  margin-right: 10px;
  font-size: 14px;
}

.items-per-page-selector select {
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
}

.modal {
  position: relative;
}



.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: white;
}

.close-button:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--primary-color);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  opacity: 0;
  z-index: 10;
}


