
.modal-edit {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 100%;
  overflow-y: auto;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  color: #000;
}

.modal-body {
  padding: 20px;
}



/* Estilos dos checkboxes (professores e alunos) */
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  text-align: center; 
  width: 100%; 
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
}

/* Estilos da lista de alunos (com busca) */
.students-list {
    max-height: 250px;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}


/* Estilos da pré-visualização dos alunos selecionados */

.selected-students-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.selected-students-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.remove-student {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
}

.remove-student svg {
  color: red;
  font-size: 16px;
}

/* Estilos dos botões */
.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-secondary {
  background-color: #ccc;
  color: #333;
  margin-right: 10px;
}

.btn-secondary:hover {
  background-color: #bbb;
}

.btn-primary {
  background-color: #e71d36;
  color: #fff;
}

.btn-primary:hover {
  background-color: #b70619;
}

/* Mensagens de erro e sucesso */
.error-message {
  color: red;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}

